<section id="intro" class="projectSection carouselSection">

    <div id="introSlide" class="carousel slide " data-ride="carousel" data-interval="false">
        <!-- Indicators 
        <ol class="carousel-indicators">
            <li data-target="#{{id}}Slide" data-slide-to="0" class="active"></li>
            <li data-target="#{{id}}Slide" data-slide-to="1"></li>
            <li data-target="#{{id}}Slide" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {{#each index.intro}} {{#is @index 0 }}
            <div class="active item fullbg" style="background: url({{pic}}) no-repeat center center fixed;)  ">
                {{/is}} {{#isnt @index 0 }}
                <div class="item fullbg" style="background: url({{pic}}) no-repeat center center fixed;)  ">

                    {{/isnt}}

                    <div class="infobox infoclear">

                        <div class="inner">
                            <div class="slideInfo">

                                <div class="slideContent">
                                    {{#is @index 0 }}
                                    <h3>{{title}}</h3>
                                    <h4>{{subtitle}}</h4> {{/is}}

                                    <p>{{{hook}}}</p>
                                    <a href="#people" class="moveDown btn btn-lg">Continue</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--<div class="layer"></div> -->

                </div>
                {{/each}}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#introSlide" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#introSlide" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>



</section>