<section class="galleryholder projectSection slideInfo forwardColor" id="sources">
    <h2 class="standalone ">Resources</h2>
    <hr class="black">
    <div class="row">
        <div class="col-md-12">
            <h2>Digital Resources</h2>
            <ul>{{#each index.resources.digital }}
                <li class="col-md-6 resource gitem">
                    <h3><a href="{{href}}" target="_blank">{{title}}</a></h3></li>{{/each}}</ul>
        </div>
        <div class="col-md-12">
            <h2>Scholarly Resources</h2>
            <ul>{{#each index.resources.print }}
                <li class="col-md-6 resource gitem">
                    <h3><a href="{{href}}" target="_blank">{{title}}</a></h3>
                    <p>{{author}}</p>
                </li>{{/each}}
            </ul>
        </div>

    </div>
</section>