<section class="galleryholder projectSection" id="team">
    <h2 class="standalone">The Team</h2>
    <hr>
    <div class="row">
        <div class="col-md-1 hidden-sm"></div>
        {{#each index.team}}
        <div class="gitem ritem col-md-2 col-xs-6"><img src="{{tab}}">
            <span>
            <h3>{{name}}</h3>
            <p>{{title}}</p>
                <a href="{{href}}" target="_blank">{{website}}</a>
                </span>
        </div>

        {{/each}}

    </div>
</section>